<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</head>
<body>
    hi
    <button onclick="logout()" id="outBtn">로그아웃</button>
    <script>
        function logout(){
            $('#outBtn').click(function (){
                $.removeCookie('token');
                window.location.href = '/'
            })
        }
    </script>
</body>
</html>