<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="block" id="login-box">
        <div class="img-box">
            <img src="../static/logo.png" alt="logo">
        </div>
        <h1 id="login-title">로그인</h1>
        <div  class ="box login-content">
            <span class="error-msg"></span>
            <form class="login-form">
                <input id="id" type="text" class="input is-small is-rounded" placeholder="아이디">
                <input id="password1" type="password" class="input is-small is-rounded"  placeholder="비밀번호">
                <button id="loginBtn" class="button is-success is-light">
                    <span class="icon is-small">
                      <i class="fas fa-check"></i>
                    </span>
                    <span>로그인</span>
                </button>

            </form>
        </div>
        <button class="button is-small" onclick="loginWithGithub()"id="github-btn">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span>깃허브로 로그인하기</span>
        </button>
        <button class="button is-small" onclick="loginWithKakao()" id="kakao-btn">
            <span class="icon">
              <i class="fas fa-comment"></i>
            </span>
            <span>카카오톡으로 로그인하기</span>
        </button>
        <br>
        <br>


        <a onclick="join()" >아이디가 없으신가요?</a>
    </div>
    <script>
            const a = document.getElementById("loginBtn")
            err = document.querySelector("#login-title")
            a.addEventListener('click',function (e){
                e.preventDefault()
                const pass1 = document.getElementById("password1").value
                const id = document.getElementById("id").value
                if(pass1 == '' || id == ''){
                    err.innerText = '아이디 혹은 비밀번호를 입력해주세요.'
                    return
                }
                $.ajax({
                    type: "POST",
                    url: "api/login",
                    dataType: "json",
                    contentType: "application/json; charset=UTF-8",
                    data:JSON.stringify({"id_give": id, "pass_give":pass1})
                        ,
                    success: function(res){
                        console.log(res)
                        if (res.result == 'success'){
                            $.cookie('token', res['token']);
                            window.location.href = '/'
                        }
                        else {
                            alert(res.msg)
                            $('#form')[0].reset()
                        }
                    }
                });
            })
            function join(){
                window.location.href = '/join'
            }
            function loginWithKakao(){
                const baseUrl = 'https://kauth.kakao.com/oauth/authorize'
                config = {
                    client_id : '7f535c9ad05fa8ee370a9eb9318421c7',
                    redirect_uri : 'http://localhost:5000/login/kakao',
                    response_type : 'code'
                }
                const params= new URLSearchParams(config).toString()
                window.location.href = `${baseUrl}?${params}`
            }

            function loginWithGithub(){
                const baseUrl = 'https://github.com/login/oauth/authorize'
                config = {
                    client_id : '94debc0ee29ed22a1f74'
                }
                const params= new URLSearchParams(config).toString()
                window.location.href = `${baseUrl}?${params}`
            }

        </script>
</body>
</html>