<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="block" id="join-box">
        <div class="img-box">
            <img src="../static/img/logo.png" alt="logo">
        </div>
        <h1 id="join-title">회원 가입</h1>
        <div class="box join-content">
            <span class="error-msg"></span>
            <form id="form">

                <input id="id" type="text" class="input is-small is-rounded" placeholder="아이디">
                <button  class="button is-info is-light" id="isIt"><span>중복확인</span></button>
                <input id="name" type="text" class="input is-small is-rounded" placeholder="이름">
                <input id="nick" type="text" class="input is-small is-rounded" placeholder="닉네임">
                <input id="password1" type="password" class="input is-small is-rounded"  placeholder="비밀번호">
                <input id="password2" type="password" class="input is-small is-rounded" placeholder="비밀번호 확인">
                <button id="joinBtn" class="button is-success is-light">
                    <span class="icon is-small">
                      <i class="fas fa-check"></i>
                    </span>
                    <span>회원가입</span>
                </button>

            </form>
        </div>
        <a onclick="login()" >이미 아이디가 있으신가요? </a>
    </div>
    <script>
           err = document.querySelector("#join-title")
            isItBtn =  document.querySelector("#isIt")

            function login(){
                window.location.href = '/login'
            }
            function isPassword(asValue) {
                const regExp = /^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z]{8,16}$/;
                return regExp.test(asValue);
            }
            function isId(value){
                const idReg = /^[a-z]+[a-z0-9]{5,19}$/g;
                return idReg.test(value)
            }

            isItBtn.addEventListener('click',function (e) {

                e.preventDefault()
                const isIt = document.querySelector("#id").value
                if (!isId(isIt)) {
                    err.innerText = "아이디는 영문자로 시작하는 6~20자 영문자 또는 숫자이어야 합니다."
                    return
                }
                console.log(isIt)
                $.ajax({
                    type: "GET",
                    url: `/api/isit?id=${isIt}`,
                    success: function (res) {
                        console.log(res)
                        if (res.result == 'success') {
                            alert(res.msg)

                        } else {
                            alert(res.msg)
                            $('#form')[0].reset()
                        }
                    }
                })
            })

        const a = document.getElementById("joinBtn")
        err = document.querySelector("#join-title")

        a.addEventListener('click',function (e){
            e.preventDefault()
            const pass1 = document.getElementById("password1").value
            const pass2 = document.getElementById("password2").value
            const id = document.getElementById("id").value
            const name = document.getElementById("name").value
            const nick = document.getElementById("nick").value
            if (name == '' || nick ==''){
                err.innerText = '이름 혹은 닉네임을 적어주세요.'
                return
            }
            if(!isId(id)) {
                err.innerText = "아이디는 영문자로 시작하는 6~20자 영문자 또는 숫자이어야 합니다."
                $('#form')[0].reset()
                return
            }
            if (pass1 != pass2){
                err.innerText = '비밀번호가 일치하지 않습니다'
                $('#form')[0].reset()
                return
            }
            if(!isPassword(pass2)) {
                err.innerText = "비밀번호는 8 ~ 16자 영문, 숫자 조합을 해주세요!"
                $('#form')[0].reset()
                return;
            }
            $.ajax({
                type: "POST",
                url: "/api/join",
                dataType: "json",
                contentType: "application/json; charset=UTF-8",
                data:JSON.stringify({"id_give": id, "nick_give":nick, "pass_give":pass2, 'name_give':name})
                ,
                success: function(res){
                    if (res.result == 'success'){
                        alert(res.msg)
                        window.location.href = '/login'
                    }
                    else {
                        alert(res.msg)
                        $('#form')[0].reset()
                    }
                }
            });
        })

    </script>
</body>
</html>