<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="page.css">
    <title>𝓑𝓾𝓰𝓼𝓽𝓪𝓰𝓻𝓪𝓶</title>
</head>

<body>
    <div id="main">
        <div id="header">
            <img id="header-logo" src="img/logo_bugstagram.png"/>
        </div>
        <div id="post-container">
            <div class="post-wrapper">
                <div class="post-header">
                    <img src="img/xmas.jpg"/>
                    <p>이용자5</p>
                </div>
                <div class="post-body">
                    <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FrMszs%2FbtroXNvCfuU%2FYbcW6gFsFHxwV0NX4LLsA0%2Fimg.png">
                    <div class="post-body-icons-wrapper">
                        <div class="left-wrapper">
                            <img src="img/like@3x.png">
                        </div>
                        <p>0000명이 좋아합니다</p>
                        <div class="right-wrapper">
                            <img src="img/favorite@3x.png">
                            <img src="img/comment@3x.png">
                        </div>
                    </div>
                    <div id="user-write">
                    <br>"여기에 작성자의 글이 들어갑니다"</br>
                    </div>
                    <div class="post-footer">
                        <img src="img/xmas.jpg"/>
                        <p>여기엔 댓글이 들어갑니다</p>
                    </div>
                    <div id="post-footer-comment">
                        <p>댓글쓰기: <input type="text"/></p>
                    </div>
                </div>
                <div id="footer">
                    <div id="icon-wrapper">
                        <img src="img/home@3x.png">
                        <img src="img/favorite@3x.png">
                        <img src="img/trending@3x.png">
                        <img src="img/home@3x.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>