{% extends 'base.html' %}
{% block logo %}
    <img id="logo" src="../static/img/logo_bugstagram.png"/>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {

            let data = {{ auth }};
            console.log(data)
            if (data === false) {
                $('.need_valid').hide()
            }

            listing();
            const likeBtn = document.querySelector('.like')
            likeBtn.addEventListener('click', function (e) {
                const uid = e.target.dataset.id
                $.ajax({
                    type: 'GET',
                    url: '/api/like/' + uid,
                    success(res) {
                        if (res.result == 'cancle') {
                            alert('좋아요를 취소하셨습니다.')
                            window.location.reload()
                        } else if (res.result == 'success') {
                            alert('좋아요를 누르셨습니다.')
                            window.location.reload()
                        }
                    }
                });

            })

        });

        function readImage(uuid) {
            var result = ''
            $.ajax({
                type: 'GET',
                url: '/api/read_image/' + uuid,
                async: false,
                success(response) {
                    result += response
                }
            });
            return result
        }

        let uuid = '{{ content.uuid }}'
        localStorage.setItem('uuid', uuid)

        function listing() {
            var image = 'data:image/png;base64,' + readImage(uuid)
            localStorage.setItem('img', image)
            document.getElementById('mainImg').src = image
        }

        function locate_edit(uuid) {
            let url = '/edit_write/' + uuid
            location.href = url
        }

        function delete_content(uuid) {
            $.ajax({
                type: "PUT",
                url: `/api/delete?uuid=${uuid}`,
                success(response) {
                    location.href = '/'
                }
            })
        }


    </script>
{% endblock %}
{% block content %}
    <div id="post-container">
        <div class="post-wrapper">
            <div class="post-header">
                <div class="left-wrapper">
                    <img src="../static/img/xmas.jpg"/>
                    <p>{{ content.user_ncik }}</p>
                </div>
                <div class="right-wrapper">
                    <button class="need_valid" onclick="locate_edit('{{ content.uuid }}')">수정</button>
                    <button class="need_valid" onclick="delete_content('{{ content.uuid }}')">삭제</button>
                </div>
            </div>
            <div class="post-body">
                <img id="mainImg" src="#">
                <div class="post-icons-wrapper">
                    <div class="left-wrapper">
                        {% if content.my_click %}
                            <i class="fas fa-heart fa-3x like" data-id="{{ content.uuid }}"
                               style="margin: 2% 4%; color: deeppink"></i>
                        {% else %}
                            <i class="far fa-heart fa-3x like" data-id="{{ content.uuid }}" style="margin: 2% 4%;"></i>
                        {% endif %}
                        <img class="post-icon-2" src="../static/img/comment@3x.png">
                        <img class="post-icon" src="../static/img/dm@3x.png">
                    </div>
                    <div class="right-wrapper">
                        <img src="../static/img/favorite@3x.png">
                    </div>
                </div>
            </div>
            <div class="post-footer">
                <div class="post-like-wrapper">
                    {% if content.likes %}
                        <img src="../static/img/xmas.jpg">
                        <p><strong>{{ content.first_click }}</strong>님 <strong>외 {{ content.count_num - 1 }}</strong>명이
                            좋아합니다</p>
                    {% else %}
                        <p><strong>가장먼저 좋아요를 눌러보세요</strong></p>
                    {% endif %}
                </div>
                <div class="post-content-wrapper">
                    <p class="post-author">{{ content.user_nick }}</p>
                    <p class="post-content">{{ content.content }}</p>
                </div>
                <p class="post-time">
                    {{ content.write_time }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}